.home {
  display: flex;
  flex-direction: row;
  min-width: 1000px;
  min-height: calc(100vh - 140px);
}

.home-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.content-wrapper {
  align-self: center;
}