.header {
  background-color: #6846e6;
  color: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  align-content: center;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.header nav ul {
  list-style: none;
  display: flex;
}

.header nav ul li {
  padding: 0 15px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}
