.send {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 160px);
  width: 100%;
}

.send-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.amount-section, .to-section, .message-section, .send-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  padding: 10px;
}

.send label {
  align-self: flex-start;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.balance-info {
  align-self: flex-start;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.error {
  color: rgb(233, 54, 54);
  font-weight: 600;
  font-size: 14px;
}

.user-input, .currency-select, .to-select, .message-input {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.to-select, .message-input {
  margin-top: 10px;
}

.message-input {
  height: 80px;
  resize: none;
}

.send-button, .back-button {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  font-weight: 600;
  background-color: #9fe870;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  padding-right: 8px;
}

.send-button:hover, .back-button:hover {
  background-color: #8bdb66;
}

.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.disabled:hover {
  background-color: #b9b9bd;
}

.back-button {
  padding: 10px 20px;
  margin-top: 20px;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 160px);
  justify-content: center;
}

.done-check {
  color: #62bd2a;
  font-size: 32px;
}

.success-messages {
  margin: 2px;
}