.advances {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 140px);
  width: 100%;
  gap: 20px;
}

.advances-container {
  width: 50%;
}

.advances-title {
  font-size: 42px;
  font-weight: 200;
}

.advances-subtitles {
  margin: 30px 0;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer; /* Indicates an interactive element */
}

.tooltip-container .tooltip-text {
  visibility: hidden; /* Initially hidden */
  width: 280px; /* Adjust width as necessary */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;

  /* Positioning the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position below the icon */
  left: 50%; /* Start from the middle of the icon */
  transform: translateX(-50%); /* Center the tooltip */
  opacity: 0; /* Start fully transparent */

  /* Transitions for smooth appearance */
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible; /* Make visible when hovered */
  opacity: 1; /* Fully opaque to be readable */
}

.amount-section, .to-section, .message-section, .advances-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: unset;
  padding: 10px;
}

.advances label {
  align-self: flex-start;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.send-section {
  width: 100%;
  max-width: none;
  margin: 20px 0;
}

.balance-info {
  align-self: flex-start;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.error {
  color: rgb(233, 54, 54);
  font-weight: 600;
  font-size: 14px;
}

.user-input, .currency-select, .to-select, .message-input {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.to-select, .message-input {
  margin-top: 10px;
}

.message-input {
  height: 80px;
  resize: none;
}

.advances-button, .back-button {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  font-weight: 600;
  background-color: #9fe870;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  padding-right: 8px;
}

.advances-button:hover, .back-button:hover {
  background-color: #8bdb66;
}

.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.disabled:hover {
  background-color: #b9b9bd;
}

.back-button {
  padding: 10px 20px;
  margin-top: 20px;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 140px);
  justify-content: center;
}

.done-check {
  color: #62bd2a;
  font-size: 32px;
}

.success-messages {
  margin: 2px;
}