.balance {
  outline: 1px solid #18003371;
  padding: 20px 30px;
  border-radius: 10px;
  width: fit-content;
  min-width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.balance-amount {
  margin-top: 10px;
}