.actions {
  display: flex;
  flex-direction: column;
}

.action-list {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.action {
  border-radius: 100px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px;
}

.action-grey {
  background-color: #16330014;
}

.action-grey:hover {
  background-color: #1633001f;
}

.action-green {
  background-color: #9fe870;
}

.action-green:hover {
  background-color: #8bdb66;
}